include ../components/component

.page-container
  +input-hidden('tabstoggle','sheetTab','basic')
  .header
    .row-tall.border-bottom-long
      .col-third.border-right.logo
      .col-third.headlabel.border-right 
        +input('Name','character_name')
      .col-quarter.headlabel.border-right 
        +input('Nationality',"attr_nationality")
      .col-14th.headlabel 
        +input('Age',"attr_age")
    .row-tall.border-bottom-long
      .col-third.border-right
        +input('Branch',"attr_branch")
      .col-twothird.headlabel 
        +input('Appearance',"attr_appearance")
    .row-tall.border-bottom-long
      .col-third.headlabel.border-right 
        +input('Military Rank',"attr_militaryrank")
      .col-twothird.headlabel 
        +input('Moral code',"attr_moralcode")
    .row-tall.border-bottom-long
      .col-third.headlabel.border-right 
        +input('Buddy',"attr_buddy")
      .col-twothird.headlabel
        +input('Big dream',"attr_bigdream")
    .row-tall.border-bottom-long
      .col-twothird.headlabel.border-right 
        +input('How I met the group',"attr_howyoumetthegroup")
      .col-third.headlabel
        +input-experience
  .tabs.row-tall.row-100pc.border-bottom-long.tab-buttons-container
    +input-hidden('tabstoggle','sheetTab','basic')
    +tab-button('Attributes <br/> and Skills','basic')
    +tab-button('Combat','combat')
    +tab-button('Action','action')
    +tab-button('Gear','gear')
    +tab-button('Vehicle','vehicle')
    +tab-button('Stockpile','stockpile')
  .basic
    .row-tall.border-bottom-long.background-tan.flex-wrap
      .row-whole
      .row-whole.flex-column.flex1.label-caps Attributes and Skills 
      .row-whole-nopad.flex-column.no-marg.no-pad.flex1
        .col-quarter.flex-row
          .row-fill.no-marg.border-right.middle.right= "&nbsp;"
          .col-46px.col-flex.no-marg.border-right.middle.right.smallcaps= "RATING"
          .col-46px.col-flex.no-marg.border-right.middle.right.smallcaps= "BASE"
        .col-quarter.flex-row
          .row-fill.no-marg.border-right.middle.right= "&nbsp;"
          .col-46px.col-flex.no-marg.border-right.middle.right.smallcaps= "RATING"
          .col-46px.col-flex.no-marg.border-right.middle.right.smallcaps= "BASE"
        .col-quarter.flex-row
          .row-fill.no-marg.border-right.middle.right= "&nbsp;"
          .col-46px.col-flex.no-marg.border-right.middle.right.smallcaps= "RATING"
          .col-46px.col-flex.no-marg.border-right.middle.right.smallcaps= "BASE"
        .col-quarter.flex-row
          .row-fill.no-marg.border-right.middle.right= "&nbsp;"
          .col-46px.col-flex.no-marg.border-right.middle.right.smallcaps= "RATING"
          .col-46px.col-flex.no-marg.border-right.middle.right.smallcaps= "BASE"
    .row-tall.attributesskills.border-bottom-long
      .col-quarter.border-right.flex-column
        .col-whole.flex-row.no-marg
          +input-attribute('Strength','strength','caps','Muscle power, toughness, and physical endurance. ') 
          +input-skill('Heavy Weapons','heavyweapons','','Use the HEAVY WEAPONS skill to fire machine guns, rocket launchers, mortars, tank guns, howitzers, and other heavy weapons. Sp') 
          +input-skill('Melee','closecombat','','Use MELEE when fighting an enemy up close and personal, with or without a melee weapon in hand. If') 
          +input-skill('Stamina','stamina','','When your physical toughness or endurance is tested, roll for STAMINA') 
          +input-condition('Starving','starving','','')
      .col-quarter.border-right.flex-column
        .col-whole.flex-row 
          +input-attribute('Agility','agility','caps','Body control, speed, and fine motor skills. ')
          +input-skill('Driving','driving','','Use the DRIVING skill to maneuver motorcycles, cars, armored personnel carriers and even tanks. ') 
          +input-skill('Mobility','mobility','','When you jump, climb, run fast, or perform any other action that requires speed or motor control, you roll MOBILITY.') 
          +input-skill('Ranged Combat','rangedcombat','','Use the RANGED COMBAT skill to use hand-held ranged weapons, such as pistols, bows, submachineguns, and assault rifles. ') 
          +input-condition('Dehydrated','dehydrated','','')
      .col-quarter.border-right.flex-column
        .col-whole.flex-row 
          +input-attribute('Intelligence','intelligence','caps','Perception, intellect, and mental stability. ')
          +input-skill('Recon','recon','','Use the RECON skill to spot concealed enemies, avoid ambushes, move silently and avoid being detected. ') 
          +input-skill('Survival','survival','','o survive, you need to know how to find food and shelter in the wild. You can roll SURVIVAL in a number of different situations  when  you  are  traveling.  R') 
          +input-skill('Tech','tech','','Use the TECH skill to repair gear and scavenge parts. You can even use the skill to craft new items if you have access to a workshop. ') 
          +input-condition('Sleep Deprived','sleep_deprived','','')
      .col-quarter.border-right.flex-column
        .col-whole.flex-row  
          +input-attribute('Empathy','empathy','caps',' Charisma, amiability, and emotional stability. ')
          +input-skill('Command','command','','You can use your COMMAND skill to help a person who is incapacitated by stress get back on their feet.') 
          +input-skill('Persuasion','persuasion','','Use PERSUASION to make others see things your way. Your chances can be affected by your bargaining position and military rank. ') 
          +input-skill('Medical Aid','medicalaid','','The MEDICAL AID skill can be used to help a friend who is incapacitated by damage get back on their feet, and to save the life of a fallen comrade who has suffered a critical injury. ')
          +input-condition('Hypothermic','hypothermic','','')
    .row-tall.border-bottom-long.background-tan.flex-wrap
      .row-whole
      .col-whole.label-caps Specialities
      .row-whole
    .row-tall.border-bottom-long
      .row-tall.flex-row.speciality
        fieldset.repeating_speciality
          +speciality
        //+speciality('Combat Medic','Medical Aid','Gives a +1 modifier to MEDICAL AID rolls for helping an incapacitated character get back up (page 73). No effect on treating critical injuries.')
        //+speciality('Combat Medic','Medical Aid','Gives a +1 modifier to MEDICAL AID rolls for helping an incapacitated character get back up (page 73). No effect on treating critical injuries.')
        //+speciality-add
  .combat
    .row-tall.border-bottom-long.background-tan.flex-wrap
      .col-half.border-right.height-margs5.label-caps Combat
      .col-half.border-right.height-margs5.label-caps Armor
      //.row-whole-nopad
      .col-half.border-right= "&nbsp;"
      .row-fill.border-right= "&nbsp;"
      .col-42px.border-right.center.middle.smallcaps.wide= "Weight"
      .col-42px.border-right.center.middle.smallcaps= "Damage"
      .col-42px.border-right.center.middle.smallcaps= "Rating"
      //.col-quarter Conditions
    .row-tall.no-pad.no-marg.border-bottom-long
      .col-half.border-right.no-pad.no-marg
        .row-whole.border-bottom-long.height-fit-content
          .col-half.row-tall.border-right
            .row-whole
              .label-caps Damage
            .row-whole.damage.pad-side5
              //+input-hidden('damage hitcapacity hidden',"hitcapacity")
              //input.damage.hitcapacity.hidden(name= "hitcapacity",value="ceil((@{strengthdie}+@{agilitydie})/4)",readonly,hidden)
              //+input-hidden('',"damage",'0')
              //input.damage.hidden(name= "damage",readonly,hidden)
              +numbered-radioboxes('damage','greyish','hitcapacity')
          .col-half.row-tall
            .row-whole
              .label-caps Stress
            .row-whole.damage.pad-side5
              //+input-hidden('damage stresscapacity hidden',"stresscapacity")
              //input.damage.stresscapacity.hidden(name= "stresscapacity",value="ceil((@{intelligencedie}+@{empathydie})/4)",readonly,hidden)
              //+input-hidden('',"stress",'0')
              //input.hidden.damage(name= "stress",hidden,readonly)
              +numbered-radioboxes('stress','greyish','stresscapacity')
        .row-whole.no-pad.no-marg
          .col-half.border-right.pad-right5
            .row-whole.border-bottom-long
              +span-number('Hit capacity','hitcapacity','noborder')
            .row-whole.border-bottom-long
              +span-number('Stress Capacity','stresscapacity','noborder')
            +input-attribute('C. U. F.','cuf','', 'Coolness Under Fire')
            //+input-unitmorale('Unit Morale','cuf_unit','','Equals the highest Command skill level in the unit')
            +input-attribute('Unit Morale','cuf_unit','','Equals the highest Command skill level in the unit')
          .col-half.pad10
            .row-whole  
              +input-field('Critical Injuries','critials')
            .row-whole
              +input-field('Diseases','diseases')
      .col-half.flex-row
        .row-whole.flex-row.border-bottom-long.armor-box
          +armor-item("Head","two")
          +armor-item("Arms","three")
          +armor-item("Torso","one")
          +armor-item("Legs","four")
          //.col-half.flex-row.border-right
            +input-value-number('Head','armor_head')
            +input-value-number('Arms','armor_arms')
            +input-value-number('Torso','armor_torso')
            +input-value-number('Legs','armor_legs')
          //.col-half.flex-row
            +input-check('Starving','condition_starving')
            +input-check('Dehydrated','condition_dehydrated')
            +input-check('Sleep Deprived','condition_sleepdeprived')
            +input-check('Hypothermic','condition_hypothermic')
        .row-whole.row-tall.border-bottom-long.background-tan Radioact
        .row-whole.row-tall
          .col-half.flex-row.border-right
            .label Temporary
            .row-whole.damage
              //+input-hidden('radiation damage',"radiation",'0')
              //input.hidden.damage(name= "attr_radiation",hidden,readonly)
              +numbered-radioboxes('temporaryrads','gold')
          .col-half.flex-row
            .label Permanent
            .row-whole.damage
              //+input-hidden('radiation damage',"permanentradiation",'0')
              //input.hidden.damage(name= "attr_permanentradiation",hidden,readonly)
              +numbered-radioboxes('permanentrads','red')
    .weapons-row.no-pad 
      //.row-tall.border-bottom-long.background-tan
      //  .col-full Weapons
      +weapons-row
      fieldset.repeating_weapons
        +weapon-item
  .gear
    //.row-tall.border-bottom-long.background-tan
      .col-third.border-right Combat Gear
      .col-third.border-right Backpack
      .col-third Tiny items 
    .row-whole.border-bottom-long.row-100pc.no-pad.encumbrance
      .col-third.no-pad
        //.expand.arrow  
        +encumbrance-line('Combat Carry Limit','carrycap_total','carry_limit')
        +encumbrance-line('Combat Encumbrance','combatgear_total')
        +encumbrance-line('Armor Encumbrance','armorweight_total')
        +encumbrance-line('Weapon Encumbrance','weaponweight_total')
      .col-third.no-pad
        //+encumbrance-line('Backpack Encumbrance','backpack_total')
        +encumbrance-line('Backpack Carry Limit','backpack_total','carry_limit_backpack')
      .col-third.no-pad
    .row-tall.border-bottom-long.background-tan
      .col-third.no-pad
        .row-tall.row-100pc.no-pad
          .col-fill.border-bottom-short.border-right.background-tan.no-pad.middle.center.h-2-5em.label-caps Combat Gear
          .col-sixth.border-bottom-short.border-right.background-tan.no-pad.middle.center.h-2-5em.wide Weight
          .col-sixth.border-bottom-short.border-right.background-tan.no-pad.middle.center.h-2-5em #
      .col-third.no-pad
        .row-tall.row-100pc.no-pad
          .col-fill.border-bottom-short.border-right.background-tan.no-pad.middle.center.h-2-5em.label-caps Backback
          .col-sixth.border-bottom-short.border-right.background-tan.no-pad.middle.center.h-2-5em.wide Weight
          .col-sixth.border-bottom-short.border-right.background-tan.no-pad.middle.center.h-2-5em #
      .col-third.no-pad
        .row-tall.row-100pc.no-pad
          .col-fourfifth.border-bottom-short.border-right.background-tan.no-pad.middle.center.h-2-5em.label-caps Tiny Items
          .col-fifth.border-bottom-short.border-right.background-tan.no-pad.middle.center.h-2-5em #
    .row-tall.border-bottom-long
      .col-third.no-pad
        fieldset.repeating_combatgear
          //.row-tall.row-100pc.no-pad
            .col-twothird.border-bottom-short.border-right.no-pad.middle.center.h-2-5em M16
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 1
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 1
          //.row-tall.row-100pc.no-pad
            .col-twothird.border-bottom-short.border-right.no-pad.middle.center.h-2-5em Knife
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 0.5
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 1
          //.row-tall.row-100pc.no-pad
            .col-twothird.border-bottom-short.border-right.no-pad.middle.center.h-2-5em Flak jacket
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 1
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 1
          //.row-tall.row-100pc.no-pad
            .col-twothird.border-bottom-short.border-right.no-pad.middle.center.h-2-5em Helmet
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 1
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 1
          //.row-tall.row-100pc.no-pad
            .col-twothird.border-bottom-short.border-right.no-pad.middle.center.h-2-5em Mag M16
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 0.25
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 5
          +gear-item
      .col-third.no-pad
        fieldset.repeating_backpack
          //.row-tall.row-100pc.no-pad
            .col-twothird.border-bottom-short.border-right.no-pad.middle.center.h-2-5em Mag
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 0.25
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 2
          //.row-tall.row-100pc.no-pad
            .col-twothird.border-bottom-short.border-right.no-pad.middle.center.h-2-5em Handradio
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 1
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 1
          //.row-tall.row-100pc.no-pad
            .col-twothird.border-bottom-short.border-right.no-pad.middle.center.h-2-5em Flare
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 0.25
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 2
          +gear-item
      .col-third.no-pad
        fieldset.repeating_tinyitems
          //.row-tall.row-100pc.no-pad
            .col-threequarter.border-bottom-short.border-right.no-pad.middle.center.h-2-5em Map
            .col-quarter.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 1
          //.row-tall.row-100pc.no-pad
            .col-threequarter.border-bottom-short.border-right.no-pad.middle.center.h-2-5em Crucifix
            .col-quarter.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 1
          //.row-tall.row-100pc.no-pad
            .col-threequarter.border-bottom-short.border-right.no-pad.middle.center.h-2-5em Dollars
            .col-quarter.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 12
          //.row-tall.row-100pc.no-pad
            .col-threequarter.border-bottom-short.border-right.no-pad.middle.center.h-2-5em Kronor
            .col-quarter.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 550
          +tiny-item
  .vehicle
    .row-tall.border-bottom-long.background-tan
      .col-whole Vehicle 
    .row-tall.border-bottom-long
      .col-twothird.info.border-all
        .row.row-100pc          
          .col-threequarter.border-right
            +input('Vehicle name')          
          .col-quarter
            +input('Type')          
        .row.row-100pc
          .col-fifth.border-right
            +input-number('Rel.')          
          .col-fifth.border-right
            +input-number('Travel speed')          
          .col-fifth.border-right
            +input-number('Combat Speed')          
          .col-fifth.border-right
            +input-number('Crew')          
          .col-fifth
            +input-number('Cargo')
      .col-third
        .row.row-100pc
          label Armor
        .row.row-100pc
          label Fuel
    .vehicleweapons-row 
      //.row-tall.border-bottom-long.background-tan
      //  .col-full Weapons
      +weapons-row
      fieldset.repeating_vehicleweapons
        +weapon-item
        //.row-tall.row-100pc.border-bottom-long
          .col-3-14th.border-bottom-short.border-right.no-pad.middle.center.h-2-5em M16
          .col-14th.border-bottom-short.border-right.no-pad.middle.center.h-2-5em AR
          .col-14th.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 5.56
          .col-14th.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 3
          .col-14th.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 2
          .col-14th.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 3
          .col-14th.border-bottom-short.border-right.no-pad.middle.center.h-2-5em -
          .col-14th.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 8
          .col-14th.border-bottom-short.border-right.no-pa.middle.center.h-2-5em 30
          .col-14th.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 3
          .col-14th.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 2
          .col-14th.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 1
          .col-14th.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 
          .col-14th.border-bottom-short.border-right.no-pad.middle.center.h-2-5em t
    .vehicle-gear
      .row-tall.border-bottom-long.background-tan.row-100pc
        .col-third
          +span-value('Vehicle Encumbrance','vehiclegear_total')
          +span-value('Vehicle Carry Limit','vehiclecarry_limit')
      //.row-tall.border-bottom-long.background-tan
        .col-third.border-right Combat Gear
        .col-third.border-right Backpack
        .col-third Tiny items 
        
      .row-tall.border-bottom-long
        .col-third.no-pad
          .row-tall.row-100pc.no-pad
            .col-twothird.border-bottom-short.border-right.background-tan.no-pad.middle.center.h-2-5em Vehicle Gear
            .col-sixth.border-bottom-short.border-right.background-tan.no-pad.middle.center.h-2-5em Wt
            .col-sixth.border-bottom-short.border-right.background-tan.no-pad.middle.center.h-2-5em #
      .row-tall.border-bottom-long
        .col-third.no-pad
          fieldset.repeating_vehiclegear
            +gear-item
  .stockpile
  .notes
  .action
    .row-whole.row-tall.border-bottom-long.background-tan
      .col-fifth.border-right
        .label-caps Presets
      .col-quarter.no-marg.border-right
        .label-caps Dice
      .col-55pc
        .label-caps Modifiers
    .row-whole.border-all
      +input-hidden("","actiontype")
      +input-hidden("","rangedtype")
      .col-fifth.border-right
        .row-whole.flex-row.middle.top
          +action-select
          +action-type("ranged",['Handgun','Rifle','Sniper','Machine Gun'])
      .col-quarter.border-right.action-dice
        //.label-caps DICE
        //+input-attribute("Base die","basedie","caps","Base die").nobordered
        //+input-attribute("Skill die","skilldie","caps","Skill die").nobordered
        .row-whole.border-bottom-short
          +input-hidden("","actionbasedie")
          +input-dice("Base dice","actionbasedie","attribute")
        .row-whole.border-bottom-short
          +input-hidden("","actionskilldie")
          +input-dice("Skill dice","actionskilldie","skill")
        .row-whole.border-bottom-short
          +input-number("Ammo dice","ammodice")
        .row-whole.border-bottom-short
          +input-number("Total modifier","totmodifier")
        .row-whole.right
          //+span-dice("","agility","") 
          //+span-dice("","rangedcombat","") 
          //+span-number("","damage","")
          button.action-dice-button.right= "Roll"
      .col-55pc.flex-row
        .row-whole.mods.closecombatmods.border-bottom-short
          .row-whole.border-bottom-long.background-tan
            .label-caps Close Combat
          .row-whole
            //.flex-row
              +input-field("Test 0",'test0')
            //.flex-row
              +input-number("Test2","test2","nofill","0","3","narrow")
            //.flex-row
              +input-value-number("Test2","test2")
            .flex-row.mod
              +input-check("Attacker prone","test1")
            .flex-row.mod
              +input-check("Target prone","test1")
            .flex-row.mod
              +input-check("Defenseless target","test1")
            .flex-row.mod
              +input-check("Aimed blow","test1")
            .flex-row.mod
              +input-check("Diving blow","test1")
        .row-whole.mods.rangedcombatmods.border-bottom-short
          .row-whole.border-bottom-long.background-tan
            .label-caps Ranged Combat
          .row-whole
            .row-whole.mods.aimmods
              .row-whole.headlabel.no-marg.no-pad.border-bottom-short.background-tan
                .label-caps Attacker modifications
              //.col-quarter.flex-row
                +input-field("Test 0",'test0')
              //.col-quarter.flex-row
                +input-number("Test2","test2","nofill","0","3","narrow")
              //.col-quarter.flex-row
                +input-value-number("Test2","test2")
              .flex-row.mod.no-marg
                +input-check("Quick shot (no aim)","test1")
              .flex-row.mod.no-marg
                +input-select("Scope (slow aim)","test1","xxwide",["No stabilisation","Stable stance"], "Select")
              .flex-row.mod.no-marg
                +input-check("Called shot","test1")
              .flex-row.mod.no-marg
                +input-check("Elevated firing position","test1")
              .flex-row.mod.no-marg
                +input-check("Firing from moving vehicle","test1")
            .row-whole.mods.targetmods
              .row-whole.headlabel.no-marg.no-pad.border-bottom-short.background-tan
                .label-caps Target modifications
              //.col-quarter.flex-row
                +input-field("Test 0",'test0')
              //.col-quarter.flex-row
                +input-number("Test2","test2","nofill","0","3","narrow")
              //.col-quarter.flex-row
                +input-value-number("Test2","test2")
              //.col-quarter.flex-row
                +input-check("Test1","test1")
              .flex-row.mod.no-marg
                +input-select("Range", "test", "xwide", ['Same hex','Short','Medium','Long','Extreme'], "Select")
              .flex-row.mod.no-marg
                +input-check("Defenseless target","test1")
              .flex-row.mod.no-marg
                +input-check("Target prone","test1")
              .flex-row.mod.no-marg
                +input-check("Target full cover","test1")
              .flex-row.mod.no-marg
                +input-check("Moving target","test1")
              .flex-row.mod.no-marg
                +input-check("Large target","test1")
              .flex-row.mod.no-marg
                +input-check("Small target","test1")
              .flex-row.mod.no-marg
                +input-check("Diving blow","test1")
            .row-whole.mods.environmods
              .row-whole.headlabel.no-marg.no-pad.border-bottom-short.background-tan
                .label-caps Environmental modifications
              //.col-quarter.flex-row
                +input-field("Test 0",'test0')
              //.col-quarter.flex-row
                +input-number("Test2","test2","nofill","0","3","narrow")
              //.col-quarter.flex-row
                +input-value-number("Test2","test2")
              //.col-quarter.flex-row
                +input-check("Test1","test1")
              //.col-quarter.flex-row
                +input-select("Range", "test", "xxwide", ['Same hex','Short','Medium','Long','Extreme'], "Select")
              .flex-row.mod.no-marg
                +input-select("Target hex terrain", "test1", "", ['0','-1','-2'])
              .flex-row.mod.no-marg
                +input-check("Dim lights","test1")
              .flex-row.mod.no-marg
                +input-check("Darkness","test1")
              .flex-row.mod.no-marg
                +input-check("Heavy rain or wind","test1")
              .flex-row.mod.no-marg
                +input-check("Dense smoke","test1")
        .row-whole.mods.socialconflictmods.border-bottom-short
          .row-whole.border-bottom-long.background-tan
            .label-caps Social Conflict
          .row-whole
            .col-half.mods.instigatormods
              .row-whole.headlabel.no-marg.no-pad.border-bottom-short.background-tan
                .label-caps Instigator modifications
              //.col-quarter.flex-row
                +input-field("Test 0",'test0')
              //.col-quarter.flex-row
                +input-number("Test2","test2","nofill","0","3","narrow")
              //.col-quarter.flex-row
                +input-value-number("Test2","test2")
              .flex-row.mod.no-marg.right
                +input-check("More people on your side","test1","")
              .flex-row.mod.no-marg.right
                +input-check("Doesn’t cost opponent","test1","")
              .flex-row.mod.no-marg.right
                +input-check("Suffered damage or stress","test1","")
              .flex-row.mod.no-marg.right
                +input-check("Opponent is sick","test1","")
              .flex-row.mod.no-marg.right
                +input-check("Opponent is held captive","test1","")
              .flex-row.mod.no-marg.right
                +input-check("Helped opponent previously","test1","")
              .flex-row.mod.no-marg.right
                +input-check("Outrank your opponent","test1","")
              .flex-row.mod.no-marg.right
                +input-check("Present case very well","test1","")
            .col-half.mods.opponentmods
              .row-whole.headlabel.no-marg.no-pad.border-bottom-short.background-tan
                .label-caps Opponent modifications
              //.col-quarter.flex-row
                +input-field("Test 0",'test0')
              //.col-quarter.flex-row
                +input-number("Test2","test2","nofill","0","3","narrow")
              //.col-quarter.flex-row
                +input-value-number("Test2","test2")
              //.col-quarter.flex-row
                +input-check("Test1","test1")
              .flex-row.mod-left.no-marg
                +input-check("More people on their side","test1","","reverse")
              .flex-row.mod-left.no-marg
                +input-check("Valuable or dangerous","test1","","reverse")
              .flex-row.mod-left.no-marg
                +input-check("Nothing to gain","test1","","reverse")
              .flex-row.mod-left.no-marg
                +input-check("Held captive by opponent","test1","","reverse")
              .flex-row.mod-left.no-marg
                +input-check("Trouble understanding","test1","","reverse")
              .flex-row.mod-left.no-marg
                +input-check("Not in the same hex","test1","","reverse")
              .flex-row.mod-left.no-marg
                +input-check("Opponent outranks you","test1","","reverse")
  .stockpile
    //.row-tall.border-bottom-long.background-tan
      .col-third.border-right Combat Gear
      .col-third.border-right Backpack
      .col-third Tiny items 
    .row-whole.border-bottom-long.row-100pc.no-pad.encumbrance
      //.col-third.no-pad
          //+encumbrance-line('Combat Encumbrance','combatgear_total')
          //+encumbrance-line('Armor Encumbrance','armorweight_total')
          //+encumbrance-line('Weapon Encumbrance','weaponweight_total')
          +encumbrance-line('Combat Carry Limit','carrycap_total','carry_limit')
      //.col-third.no-pad
          //+encumbrance-line('Backpack Encumbrance','backpack_total')
          +encumbrance-line('Backpack Carry Limit','backpack_total','carry_limit_backpack')
      //.col-third.no-pad
    .row-tall.border-bottom-long.background-tan
      .col-third.no-pad
        .row-tall.row-100pc.no-pad
          .col-fill.border-bottom-short.border-right.background-tan.no-pad.middle.center.h-2-5em.label-caps Combat Gear
          .col-sixth.border-bottom-short.border-right.background-tan.no-pad.middle.center.h-2-5em.wide Weight
          .col-sixth.border-bottom-short.border-right.background-tan.no-pad.middle.center.h-2-5em #
      .col-third.no-pad
        .row-tall.row-100pc.no-pad
          .col-fill.border-bottom-short.border-right.background-tan.no-pad.middle.center.h-2-5em.label-caps Utility Gear
          .col-sixth.border-bottom-short.border-right.background-tan.no-pad.middle.center.h-2-5em.wide Weight
          .col-sixth.border-bottom-short.border-right.background-tan.no-pad.middle.center.h-2-5em #
      .col-third.no-pad
        .row-tall.row-100pc.no-pad
          .col-fill.border-bottom-short.border-right.background-tan.no-pad.middle.center.h-2-5em.label-caps Other Items
          .col-sixth.border-bottom-short.border-right.background-tan.no-pad.middle.center.h-2-5em.wide Weight
          .col-sixth.border-bottom-short.border-right.background-tan.no-pad.middle.center.h-2-5em #
    .row-tall.border-bottom-long
      .col-third.no-pad
        fieldset.repeating_stockcombat
          //.row-tall.row-100pc.no-pad
            .col-twothird.border-bottom-short.border-right.no-pad.middle.center.h-2-5em M16
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 1
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 1
          //.row-tall.row-100pc.no-pad
            .col-twothird.border-bottom-short.border-right.no-pad.middle.center.h-2-5em Knife
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 0.5
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 1
          //.row-tall.row-100pc.no-pad
            .col-twothird.border-bottom-short.border-right.no-pad.middle.center.h-2-5em Flak jacket
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 1
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 1
          //.row-tall.row-100pc.no-pad
            .col-twothird.border-bottom-short.border-right.no-pad.middle.center.h-2-5em Helmet
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 1
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 1
          //.row-tall.row-100pc.no-pad
            .col-twothird.border-bottom-short.border-right.no-pad.middle.center.h-2-5em Mag M16
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 0.25
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 5
          +gear-item
      .col-third.no-pad
        fieldset.repeating_stockutil
          //.row-tall.row-100pc.no-pad
            .col-twothird.border-bottom-short.border-right.no-pad.middle.center.h-2-5em Mag
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 0.25
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 2
          //.row-tall.row-100pc.no-pad
            .col-twothird.border-bottom-short.border-right.no-pad.middle.center.h-2-5em Handradio
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 1
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 1
          //.row-tall.row-100pc.no-pad
            .col-twothird.border-bottom-short.border-right.no-pad.middle.center.h-2-5em Flare
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 0.25
            .col-sixth.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 2
          +gear-item
      .col-third.no-pad
        fieldset.repeating_stockother
          //.row-tall.row-100pc.no-pad
            .col-threequarter.border-bottom-short.border-right.no-pad.middle.center.h-2-5em Map
            .col-quarter.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 1
          //.row-tall.row-100pc.no-pad
            .col-threequarter.border-bottom-short.border-right.no-pad.middle.center.h-2-5em Crucifix
            .col-quarter.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 1
          //.row-tall.row-100pc.no-pad
            .col-threequarter.border-bottom-short.border-right.no-pad.middle.center.h-2-5em Dollars
            .col-quarter.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 12
          //.row-tall.row-100pc.no-pad
            .col-threequarter.border-bottom-short.border-right.no-pad.middle.center.h-2-5em Kronor
            .col-quarter.border-bottom-short.border-right.no-pad.middle.center.h-2-5em 550
          +gear-item